/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

*:focus-within {
  border-color: transparent !important;
}

body {
  /* font, change to '' for default discord font */
  --font: 'figtree';

  /* sizes */
  --gap: 10px;
  /* spacing between panels */
  --divider-thickness: 4px;
  /* thickness of unread messages divider and highlighted message borders */

  /* animation/transition options */
  --animations: on;
  /* turn off to disable all midnight animations/transitions */
  --list-item-transition: 0.2s ease;
  /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease;
  /* transition for the dms icon */

  /* top bar options */
  --move-top-bar-buttons: off;
  /* turn on to move inbox button to the server list (recommend setting top bar height to 24px) */
  --custom-app-top-bar-height: 30px;
  /* height of the titlebar/top bar (default is 36px)*/

  /* window controls */
  --custom-window-controls: on;
  /* turn off to use discord default window controls */
  --window-control-size: 14px;
  /* size of custom window controls */

  /* dms button icon options */
  --dms-icon: on;
  /* set to default to use discord icon, on to use custom icon, off to disable completely */
  --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%;
  /* size of the svg (css mask-size) */
  --dms-icon-color-before: var(--icon-secondary);
  /* normal icon color */
  --dms-icon-color-after: var(--sumiInk2);
  /* icon color when button is hovered/selected */

  /* dms button background options */
  --dms-background: off;
  /* off to disable, image to use a background image, color to use a custom color/gradient */
  --dms-background-image-url: url('');
  /* url of the background image */
  --dms-background-image-size: cover;
  /* size of the background image (css background-size) */
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));
  /* fixed color/gradient (css background) */

  /* background image options */
  --background-image: off;
  /* turn on to use a background image */
  --background-image-url: url('');
  /* url of the background image */

  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off;
  /* turn on to remove some elements for better transparency */
  --remove-bg-layer: off;
  /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off;
  /* turn on to blur the background of panels */
  --blur-amount: 12px;
  /* amount of blur */
  --bg-floating: var(--bg-3);
  /* you can set this to a more opaque color if floating panels look too transparent */

  /* other options */
  --small-user-panel: off;
  /* turn on to make the user panel smaller like in old discord */
}

/* color options */
:root {
  --colors: on;
  /* turn off to use discord default colors */

  --fujiWhite: #DCD7BA;
  --oldWhite: #C8C093;
  --sumiInk0: #16161D;
  --sumiInk1: #1F1F28;
  --sumiInk2: #2A2A37;
  --sumiInk3: #363646;
  --sumiInk4: #54546D;
  --waveBlue1: #223249;
  --waveBlue2: #2D4F67;
  --winterGreen: #2B3328;
  --winterYellow: #49443C;
  --winterRed: #43242B;
  --winterBlue: #252535;
  --autumnGreen: #76946A;
  --autumnRed: #C34043;
  --autumnYellow: #DCA561;
  --samuraiRed: #E82424;
  --roninYellow: #FF9E3B;
  --waveAqua1: #6A9589;
  --dragonBlue: #658594;
  --fujiGray: #727169;
  --springViolet1: #938AA9;
  --oniViolet: #957FB8;
  --crystalBlue: #7E9CD8;
  --springViolet2: #9CABCA;
  --springBlue: #7FB4CA;
  --lightBlue: #A3D4D5;
  --waveAqua2: #7AA89F;
  --springGreen: #98BB6C;
  --boatYellow1: #938056;
  --boatYellow2: #C0A36E;
  --carpYellow: #E6C384;
  --sakuraPink: #D27E99;
  --waveRed: #E46876;
  --peachRed: #FF5D62;
  --surimiOrange: #FFA066;
  --katanaGrey: #717C7C;

  /* text colors */
  --text-0: var(--bg-4);
  /* text on colored elements */
  --text-1: var(--fujiWhite);
  /* other normally white text */
  --text-2: var(--fujiWhite);
  /* headings and important text */
  --text-3: var(--fujiWhite);
  /* normal text */
  --text-4: var(--katanaGrey);
  /* icon buttons and channels */
  --text-5: var(--sumiInk4);
  /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: var(--sumiInk3);
  /* dark buttons when clicked */
  --bg-2: var(--sumiInk2);
  /* dark buttons */
  --bg-3: var(--sumiInk0);
  /* spacing, secondary elements */
  --bg-4: var(--sumiInk1);
  /* main background color */
  --hover: var(--sumiInk2);
  /* channels and buttons when hovered */
  --active: var(--sumiInk2);
  /* channels and buttons when clicked or selected */
  --active-2: hsla(220, 19%, 40%, 0.3);
  /* extra state for transparent buttons */
  --message-hover: hsla(240, 0%, 0%, 0.1);
  /* messages when hovered */

  /* accent colors */
  --accent-1: var(--springBlue);
  /* links and other accent text */
  --accent-2: var(--fujiWhite);
  /* small accent elements */
  --accent-3: var(--fujiWhite);
  /* accent buttons */
  --accent-4: var(--oldWhite);
  /* accent buttons when hovered */
  --accent-5: var(--oldWhite);
  /* accent buttons when clicked */
  --accent-new: var(--accent-2);
  /* stuff that's normally red like mute/deafen buttons */

  --mention: linear-gradient(to right, color-mix(in hsl, hsla(220, 54%, 67%), transparent 90%) 40%, transparent);
  /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, hsla(220, 54%, 67%), transparent 95%) 40%, transparent);
  /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
  /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);
  /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --offline: var(--katanaGrey);
  /* change to #83838b for default offline color */
  --online: var(--springGreen);
  --dnd: var(--autumnRed);
  --idle: var(--autumnYellow);
  --streaming: var(--oniViolet);


  /* border colors */
  --border-light: hsl(230, 20%, 40%, 0.1);
  /* light border color */
  --border: hsl(230, 20%, 40%, 0.2);
  /* normal border color */
  --button-border: hsl(0, 0%, 100%, 0.1);
  /* neutral border color of buttons */

  /* base colors */
  --red-1: oklch(76% 0.12 0);
  --red-2: oklch(70% 0.12 0);
  --red-3: oklch(64% 0.12 0);
  --red-4: oklch(58% 0.12 0);
  --red-5: oklch(52% 0.12 0);

  --green-1: oklch(76% 0.11 170);
  --green-2: oklch(70% 0.11 170);
  --green-3: oklch(64% 0.11 170);
  --green-4: oklch(58% 0.11 170);
  --green-5: oklch(52% 0.11 160);

  --blue-1: oklch(76% 0.1 215);
  --blue-2: oklch(70% 0.1 215);
  --blue-3: oklch(64% 0.1 215);
  --blue-4: oklch(58% 0.1 215);
  --blue-5: oklch(52% 0.1 215);

  --yellow-1: oklch(80% 0.11 90);
  --yellow-2: oklch(74% 0.11 90);
  --yellow-3: oklch(68% 0.11 90);
  --yellow-4: oklch(62% 0.11 90);
  --yellow-5: oklch(56% 0.11 90);

  --purple-1: oklch(76% 0.11 310);
  --purple-2: oklch(70% 0.11 310);
  --purple-3: oklch(64% 0.11 310);
  --purple-4: oklch(58% 0.11 310);
  --purple-5: oklch(52% 0.11 310);
}
